/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(115, 216, 232);
} */
body {
    margin: 0;
    padding: 0;
    background-image: url('wow.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
  }

  #specific-section {
    background-image: url('wow.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    color: white;
  }

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
